# Django #
*.log
*.pot
*.pyc
__pycache__
db.sqlite3
media
yeast_web

# neural network
deepretina_final.h5

#migration
yeastweb/core/migrations
yeastweb/accounts/migrations
yeastweb/cache
yeastweb/media

.idea