# Django
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
media/
yeast_web/

# Neural network
deepretina_final.h5

# Migrations and cache
yeastweb/core/migrations/
yeastweb/accounts/migrations/
yeastweb/cache/
yeastweb/media/

# IDE
.idea/
.vscode/

# Config files
*.cfg