# Django
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
media/
yeast_web/
yeast-web/
cache/

# Neural network
deepretina_final.h5

# Migrations and cache
yeastweb/core/migrations/
yeastweb/accounts/migrations/
yeastweb/cache/
yeastweb/media/

.idea
.env

# Code Formatting
.vscode/
settings.json

# Config files
*.cfg

.env