services:
  django-web:
    build: .
    container_name: django-docker
    ports:
      - "8000:8000"
    environment:
      SECRET_KEY: ${SECRET_KEY}
      DBNAME: ${DBNAME}
      DBUSER: ${DBUSER}
      DBPASS: ${DBPASS}
      DBHOST: ${DBHOST}
      DATABASE_PORT: ${DBPORT:-5432}
      GOOGLE_CLIENT: ${GOOGLE_CLIENT}
      GOOGLE_SECRET: ${GOOGLE_SECRET}
      MSFT_CLIENT: ${MSFT_CLIENT}
      MSFT_SECRET: ${MSFT_SECRET}
      MSFT_CLIENT_SECRET: ${MSFT_CLIENT_SECRET}
      MSFT_TENANT_ID: ${MSFT_TENANT_ID}
      EMAIL_HOST_USER: ${EMAIL_HOST_USER}
      EMAIL_HOST_PASSWORD: ${EMAIL_HOST_PASSWORD}
      WEBSITE_HOSTNAME : ${WEBSITE_HOSTNAME}
      AZ_STORAGE_NAME : ${AZ_STORAGE_NAME}
      AZ_ACCESS_KEY: ${AZ_ACCESS_KEY}
    env_file:
      - .env